/* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro */

/* https://www.w3schools.com/css/css_howto.asp */

/*
Softlocked Ducks - Eric Guo, Yoonah Chang, Josephine Lee, Michael Borczuk
Softdev
K20 - Throw Some Forking STUYLE On It
Time Spent: 0.6 hours
*/

* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

input[type=submit] {
    background-color: green;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
  }

a:link {
    text-decoration: none;
    color:purple
  }

title{
    color:green;
    font-weight: bolder;
}

h1 {
    color: black;
    padding: 15px;
    text-align: center;
  }

h2 {
    text-align: center;
    color: black;
}

html {
    background-color: magenta;
}

td, th {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input[type=text], input[type=password] {
    position: absolute;
    left: 200px;
    color: magenta;
    background-color: yellow;
}

p {
    text-align: left;
    color:green; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h3 {
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}



